@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i');


@fonte-principal:     'Open Sans', sans-serif;

/*Cores */

@cor-vermelho:          #C93438;

@cor-cinza:             #9F9F9F;
@cor-cinza-claro-sup:   #e5e6e7;
@cor-cinza-claro:       #F4F4F4;

@cor-cinza-escuro:      #666666;



/* Funções */

.fnc-border-radius(@radius:3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

